#search, #search_header, #history_of_booking, #book_info, #time_info{
    display: grid; 
}
#search, #search_header{
    grid-template-columns: 1fr 2fr;
}
/*#history_of_visit{*/
/*    grid-template-columns: 2fr 1fr;*/
/*}*/
#search_field{
    padding: 2px;
    background-color: ghostwhite;
}
#search_title{
    background-color: #efeff6;
}
#search_result{
    background-color: lightsteelblue;
}
#result_title{
    background-color: #a7bbd5;
}

#history_of_booking{
    background-color: blanchedalmond;
}
#history_header{
    background-color: #f6e2c6;
    width: 100%;
}
#history_of_booking > #book_info{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-right: 6px;    
    padding: 2px;
}
/*#history_of_visit > #time_info{*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 2px;*/
/*    !*background-color: #f6e2c5;*!*/
/*}*/
.history.even{
    background-color: #f0ddc0;
}
.booking_list{
    display: grid;
    grid-template-columns: 2fr 200px 1fr;
}
.booking_list.even{
    background-color: #a1b4cc;
}
.booking_list:hover{
    background-color: aliceblue;
}

input{
    border-width: 1px;
    border-color: unset;
}